header, footer {
  background-image: url("../images/b11.png");
  background-repeat: repeat;
  color: white;
  padding-left: 1rem;
}

header {

}

body {

}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #4acfee;
}

td {
  width: 5rem;
  height: 5rem;
  text-align: center;
}

.miss {
  background-color: grey;
}

.hit {
  background-color: red;
}

.cheat {
  background-color: blue;
}

.gameArea {
  margin-left: 4rem;
  margin-right: 4rem;
}

.gameH1 {
  font-size: 8rem;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2rem;
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
